.header-css {
    padding: 10px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3ca59;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}


@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf") format("ttf"),
}

a , p, li, h1{
    font-family: "Roboto";
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease, ;
}

a:hover {
    color:rgb(196, 196, 196);
    cursor: pointer;
    text-decoration-line: underline;
}

h1{
    margin-top: 50px;
    font-size:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; 
    height: auto;
    margin: auto;
    justify-content: center;
}
.element {
    padding: 10px;
    text-align: center;
}

.element-entradilla {
    padding: 10px;
    text-align: center;
    font-size: larger;
    text-align: start;
}

.element-gran {
    grid-column: span 3; 
}

.fondo{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 254, 191);
    border-radius: 30px;
    justify-content: center;
    margin: 50px auto;
    width: 700px;
    padding: 50px;
    color: rgb(2, 2, 94);;
}
header{
    position: sticky;
    top: 0px;
}






/*
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px; 
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
}
.element {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
    
.element-gran {
    grid-column: span 3; 
}
*/

