.header-html {
    padding: 10px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3ca59;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf") format("ttf"),
}
a , p, li{
    font-family: "Roboto";
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}

a:hover {
    color:rgb(196, 196, 196);
    cursor: pointer;
    text-decoration-line: underline;
}

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block-vertical{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    height: 120px;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 191, 191)  ;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 30px;
}

.block-vertical-2{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 191, 191)  ;
    margin-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    grid-gap: 20px;
    border-radius: 30px;
}

.trigger {
    padding: 60px;
    margin: auto;
    color: red;
    background-color: #f3ca59;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
}

#popoverContent {
    background-color: #ffffff;
    width: 700px;
    text-align: center;
}

::backdrop {
    backdrop-filter: blur(3px);
}

.fondo{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 191, 191);
    border-radius: 30px;
    justify-content: center;
    margin: 50px auto;
    width: 700px;
    padding: 50px;
}

img{
    border-radius: 25px;
}