.header {
    padding: 10px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3ca59;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Black.ttf") format("ttf"),
}

h1{
    font-size: xx-large;
}

a , p, li{
    font-family: "Roboto";
}

.block-bas{
    background-color: rgb(206, 117, 94);
    background-size: cover;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    width: fit-content;
    border-radius: 20px;
}

.block-ava{
    background-color: rgb(185, 36, 26);
    background-size: cover;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    width: fit-content;
    border-radius: 20px;
}
 
.block-con{
    background-color: rgb(131, 0, 0);
    background-size: cover;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    width: fit-content;
    border-radius: 20px;
}

.block-bas-css{
    background-color: rgb(64, 167, 167);
    background-size: cover;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    width: fit-content;
    border-radius: 20px;
}

.block-ava-css{
    background-color: rgb(7, 95, 95);
    background-size: cover;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    width: fit-content;
    border-radius: 20px;
}




a{
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(196, 196, 196);
    cursor: pointer;
    text-decoration-line: underline;
}


/*index general*/

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.HTML{
    align-self: center;
}

.HTML img{
        transition: transform 0.3s ease;

}

.HTML img:hover{
    transform: scale(1.1);
}

.CSS {
    align-self: center;
}

.CSS img{
    transition: transform 0.3s ease;

}

.CSS img:hover{
transform: scale(1.1);
}

@media (max-width: 1024px) and (min-width: 300px) {
    .block{
        display: flex;
        flex-direction: column;
    }

    .block-bas-css{
        align-self: center;
    }
    
    .block-ava-css{
        margin-top: 70px;
        align-self: center;
    }

    .block-bas{
        align-self: center;
    }
    
    .block-ava{
        margin-top: 70px;
        align-self: center;
    }
     
    .block-con{
        margin-top: 70px;
        align-self: center;
    }
}