p{
    font-family: "Courier New", sans-serif;
    font-size: 20px;
    background-color: burlywood;
    color: white;
    text-align: center;
    font-weight:bolder;
    font-style:oblique;
    margin: 10px 20px 10px 20px;
    border: 2px dashed black;
    padding: 20px;
}